
input[type=text] {
    width: 140px;
    
    border: 2px solid #ccc;
    
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
   
	}
	.navbar-custom {
    color:#f4b41d;
    background-color: #f4b41d;
}
	